#loginButton{
background-image: linear-gradient(to right,rgb(139,92,146), rgb(14,165,233));
}

.login-card{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

body{
    font-family: 'Courier New', Courier, monospace;
        background: rgb(247,255,250);

}